
.login_section {
    padding: 60px 0;
    background-color: #f9f9f9;
 }
 
 .form_container {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
 }
 
 .heading_container h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333;
 }
 
 .form-group label {
    font-size: 14px;
    color: #555;
    font-weight: 600;
 }
 
 .form-group input {
    height: 45px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ddd;
    padding: 10px;
 }
 
 .btn-primary {
    background-color: #f7444e;
    border-color: #f7444e;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
 }
 
 .btn-primary:hover {
    background-color: #f7444e;
    border-color: #f7444e;
 }